@use 'variables';
@use 'mixins';

/* Button Styles */
.about-me {
  &__button {
    display: inline-flex;
    width: 290px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 24px 42px;
    background-color: var(--bg-content-color);
    border-radius: 10px;
    @include mixins.transition(background-color);

    &:hover {
      background-color: var(--primary-color);
    }

    &-icon {
      fill: var(--text-color);
      width: 28px;
      height: 24px;
      @include mixins.transition(fill);
    }

    body.dark & {
      @include mixins.transition((background-color, color));

      &:hover {
        color: var(--primary-content-color);

        .about-me__button-icon {
          fill: var(--primary-content-color);
        }
      }
    }
  }
}

/* Portfolio Styles */
.portfolio {
  &__button {
    padding-block: 24px;
    width: 350px;
    border-radius: 10px;
    @include mixins.transition(background-color);

    &:hover {
      background-color: var(--bg-content-color-hover);
    }
  }

  &__project {
    border-radius: 15px;
    position: relative;
    overflow: hidden;

    &:hover {
      .portfolio__details {
        background-color: var(--primary-color);
        opacity: 0.8;
      }

      .portfolio__title,
      .portfolio__description,
      .portfolio__link {
        opacity: 0.8;
      }
    }
  }

  &__details {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    @include mixins.transition(background-color);
    @include mixins.transition(opacity);
  }

  &__title,
  &__description,
  &__link {
    opacity: 0;
    color: var(--primary-content-color);
    transition-delay: 0.3s;
    @include mixins.transition(opacity, 0.6s);
  }

  &__description {
    margin-top: 3px;
    font-weight: variables.$font-weight-normal;
    font-size: 14px;
  }

  &__link {
    padding: 9px;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    margin: 18px auto 0;
    display: flex;
    align-items: center;
    background-color: var(--bg-color);

    svg {
      height: 100%;
      width: 20px;
      fill: var(--text-color);
    }
  }
}
